# Node.js Environment Configuration

# Application
NODE_ENV=development
PORT=3000
HOST=localhost
SERVER_TERMINATE_TIMEOUT=5000

# Database Configuration
DB_USER=your_db_user
DB_HOST=localhost
DB_NAME=your_database_name
DB_PASSWORD=your_db_password
DB_PORT=5432

# External APIs
OLLAMA_MODEL=llama2
OLLAMA_HOST=http://localhost:11434
OPENWEATHER_API_KEY=your_openweather_api_key